/* Futura PT Light */
.tekst {
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* Futura PT Bold */

h3 {
  font-family: futura-pt-bold, sans-serif;
  font-weight: 700;
  font-style: normal;
}

h2 {
  font-family: futura-pt-bold, sans-serif;
  font-weight: 700;
  font-style: normal;
}
