* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* TEST UPDATE FOR MERGE */

html,
body {
  font-size: 20px;
  line-height: 1.5rem;
}

.line-height-top {
  margin-top: 1rem; /*margin-bottom: 3rem;*/
}

:root {
  /* --pas: hsl(36,100,58);
  --pale: hsl(60, 93%, 84%);
  --dark: hsl(60, 93%, 14%);
  --white: #000000; */

  /*testet ut litt farger */ /*--clr-primary-400: hsl(224, 58%, 40%);
  --clr-primary-600: hsl(224, 58%, 60%);
  --clr-primary-800: hsl(224, 58%, 80%);
  --clr-primary-100: hsl(224, 70%, 50%);
--clr-primary-100: rgb(1, 2, 3);*/

  --green: hsl(143, 18%, 82%);
  --orange: hsl(36, 73%, 77%);
  --darkgreen: hsl(184, 37%, 16%);
  --lightgreen: hsl(98, 87%, 88%);
  --darkgreenhover: hsl(183, 37%, 16%, 30%);
}

.green {
  background-color: var(--green);
}

.orange {
  background-color: var(--orange);
}

.darkgreen-lightgreen {
  background-color: var(--darkgreen);
  color: var(--lightgreen);
}

h1 {
  line-height: 2.5rem;
}

h2 {
  line-height: 2rem;
  color: var(--darkgreen);
}

button {
  font-size: 1.4rem;
}

/*.section-01-header {
  background-image: url(https://via.placeholder.com/500x400.png);
} */

img {
  height: 13rem;
  object-fit: cover;
}

/*mobil versjon-display block*/

/*main {
  background-color: var(--pale);
  color: var(--dark); 
}*/

section {
  min-height: 70vh;
}
.section-container {
  max-width: 40rem;
  margin: auto;
  min-height: 70vh;
  justify-content: center;
  padding: 1rem;
}

.footer-container {
   max-width: 40rem; 
  margin: auto;
justify-content: left;
  padding: 1rem;

}

.max-width {
  max-width: 40rem;
  margin: auto;
}

.singel-container-max-width {
  max-width: 25rem;
}

.section-06-footer {
  background-color: var(--darkgreen);
  color: var(--lightgreen);
}

.collapsible {
  align-self: center;
  width: 100%;
  height: 80px;
  background: var(--darkgreen) url(images/Component_1.png);
  color: var(--lightgreen);
  background-repeat: no-repeat;
  background-position: 90%, 40%;
  margin: 5%;
  border: none;
  border-radius: 12px;
  font-size: 20px;
}

/* .collapsible {
  align-self: center;
  width: 60%;
  height: 80px;
  background: var(--darkgreen) url(images/Component_1.png);
  color: var(--lightgreen);
  background-repeat: no-repeat;
  background-position: 90%, 40%;
  margin: 5%;
  border: none;
  border-radius: 12px;
} */

.colllapsible h3 {
  color: inherit;
  font-size: inherit;
}

.active,
.collapsible:hover {
  /* background-color: hsl(38, 97%, 50%); */
  background-color: var(--darkgreenhover);
}

.content {
  width: 60%;
  /* Ina, sett det du vil her! */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.content ul a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

.content ul a:hover {
  /* color: hsl(38, 97%, 50%); */
  color: var(--green);
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}
ul {
  margin-left: 1rem;
}
.text-container-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  margin: 1rem;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin: 1rem; */
}

.button-grid {
  display: grid;
  grid-template-columns: [first] 80% [col2] auto [end];
}
.button-item1 {
  grid-column-start: 1;
  grid-column-end: span col2;
}
.button-item2 {
  grid-column-start: 2;
  grid-column-end: span;
}

.line-heigt {
  margin-bottom: 2rem;
}

/* desktop versjon- display grid*/

@media screen and (min-width: 600px) {
  .text-container {
    margin: 1rem;
  }

  .section-container {
    display: flex;
    column-gap: 2rem;
  }
  .footer-container {
    display: flex;
    max-width: 29rem;
    column-gap: 3rem; 
  }

  .section-no-flex {
    display: block;
  }
  .reverse {
    flex-direction: row-reverse;
  }

  .text-center {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .collapsible {
    align-self: center;
    width: 60%;
    height: 80px;
    background: var(--darkgreen) url(images/Component_1.png);
    color: var(--lightgreen);
    background-repeat: no-repeat;
    background-position: 90%, 40%;
    margin: 5%;
    border: none;
    border-radius: 12px;
  }

  
}
