* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Avenir", Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1.5rem;
}

:root {
  --pale: hsl(60, 93%, 84%);
  --dark: hsl(60, 93%, 14%);
}

h1 {
  line-height: 2.5rem;
}

h2 {
  line-height: 2rem;
}

 img{
    width: 100%;
/*height: 30rem;*/
object-fit: cover;
}  

/*mobil versjon-display block*/

main {
  background-color: var(--pale);
  color: var(--dark);
}

section {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }



.max-width {
  width: 90%;
  max-width: 40rem;
  margin: auto;
  padding: 1rem;
}


.section-06-footer {
    background-color: var(--dark);
    color: var(--pale);
}

/* desktop versjon- display grid*/

@media screen and (min-width: 600px) {
    .section-02-rules-of-the-game{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 3rem;
        margin-bottom: 4rem;
        display: flex;
        flex-direction: row;
    }

    .reverse{
      flex-direction: row-reverse;
    }
  }


