* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* TEST UPDATE FOR MERGE */

html,
body {
  font-family: "Avenir", Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1.5rem;
  /*background-color: var(--clr-primary-800);*/
}

.line-height-top{
  margin-top: 1rem; /*margin-bottom: 3rem;*/
}

:root {
  --pale: hsl(60, 93%, 84%);
  --dark: hsl(60, 93%, 14%);
  --white: #000000;

  /*--clr-primary-400: hsl(224, 58%, 40%);
  --clr-primary-600: hsl(224, 58%, 60%);
  --clr-primary-800: hsl(224, 58%, 80%);
--clr-primary-100: hsl(224, 58%, 51%);*/
}

h1 {
  line-height: 2.5rem;
}

h2 {
 line-height: 2rem; 
}

/*.section-01-header {
  background-image: url(https://via.placeholder.com/500x400.png);
} */

img {
  width: 100%;
  object-fit: cover;
}

/*mobil versjon-display block*/

main {
  background-color: var(--pale);
  color: var(--dark);
}

section {
  /* min-height: 90vh; */
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  margin-bottom: 4rem;

}

.max-width {
  width: 90%;
  max-width: 40rem;
  margin: auto;
  padding: 1rem;
}

.section-06-footer {
    background-color: var(--dark);
    color: var(--pale);
}

.collapsible {
  align-self: center;
  width: 60%;
  height: 80px;
  background: hsl(38, 97%, 60%) url(images/Component_1.png);
  background-repeat: no-repeat;
  background-position: 90%, 40%;
  margin: 5%;
  border: none;
  border-radius: 12px;
}

.colllapsible h3 {
  color: inherit;
  font-size: inherit;
}

.active,
.collapsible:hover {
  background-color: hsl(38, 97%, 50%);
}

.content {
  width: 60%;
  /* Ina, sett det du vil her! */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.content ul a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

.content ul a:hover {
  color: hsl(38, 97%, 50%);
}


/* desktop versjon- display grid*/

@media screen and (min-width: 600px) {
  .section-02-rules-of-the-game {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
    /* margin-bottom: 4rem; */
    display: flex;
    flex-direction: row;
  }

  .reverse {
    flex-direction: row-reverse;
  }
}
